.ProfeCardsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.5rem;
}
.cardTempSoPO {
  width: 200px;
  background-color: brown;
  border: 2px solid black;
}
.AvatarNameProf {
  background-color: rgb(7, 71, 71);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  color: white;
}

.usuarioCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precioFavCont {
  display: grid;
  grid-template-columns: 50% 50%;
}

.puntProfCard {
  margin-top: 0.2rem;
}

.puncContCard {
  color: rgb(168, 168, 16);
  display: grid;
  grid-template-columns: 15% 80%;
}

.flagcarProfe {
  height: 20px;
}

.materiasNaCaPro {
  margin-left: 3px;
}

.btnFavProfeCards {
  border: none;
  padding: 0;
}
