.max_width {
  max-width: 450px;
  margin: 0 auto;
}

/* .loginButtons button {
  margin: 0 1rem;
} */

.hover_email {
  color: blue;
}

.login_or_signup {
  margin-left: 0.8rem;
}

.login_or_signup:hover {
  text-decoration: underline;
}

.form_student {
  color: #f5fbef;
  background: linear-gradient(rgb(85, 145, 197), rgb(133, 159, 236));
  border-radius: 0.4rem;
  border-left: green;
}

.button {
  margin: 0 1rem;
  background: linear-gradient(rgb(85, 145, 197), rgb(133, 159, 236));
  box-shadow: 0px 2px white;
  transition: transform 7s ease, box-shadow .5s ease;
}

.button:active {
  transform: translate(0px, 2px);
  box-shadow: none;
}

.ingresa {
  color: #0d1821;
}

.form_student a {
  margin-left: 1rem;
  color: #7c1578;
}

.form_student a:hover {
}

.ingresa:hover {
  transform: scale(10px) !important;
}
/* 001514  */
