.card:hover{
  box-shadow: rgb(146, 146, 146); 
  cursor: pointer;

}

.overFlow{
  overflow: hidden;
}
.card-img-top{
 transition: all 0.2s ease-in-out;  
}

.card-img-top:hover{
  transform: scale(1.8);
}
.descrip{
  
}