


.firstContainer{
  
  height: 100vh;
  margin-bottom: 20rem;
  background: rgb(240,241,242);
  background: linear-gradient(0deg, rgba(240,241,242,1) 1%, rgba(85,145,197,1) 63%, rgba(40,127,203,1) 83%);
  
  margin-right: 80%;
  margin-top: 1%;
  padding: 3%;
  border-radius: 5%;
  align-items:center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  
}

.detailContainer{
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-color: rgb(83, 90, 97);
  border-radius: 2%;
 justify-content: center;
  color: aliceblue;
  height: 80vh;
  width: 80vw;
}
.overflow{
overflow: hidden;
}
.profImg:hover{
  transform: scale(0.8);
  cursor: pointer;
}
.profImg{
 
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: black;
  margin-top: 100px;
  margin-right: 10%;
  transition: all 0.2s ease-in-out;
}
.profImg:hover{


}
.nameeDetail{
   
  margin-top: 1%;
  align-items: center;
  max-width: 100px;
  margin-right: 50%;

}
.ratingDetails{
  border:solid rgb(240, 152, 80);
  color: rgb(237, 247, 222);
  height: 25px;
  width: 50px;
  margin-left: 10px;
  
}
.ratingDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  
}
.detailPlatform{
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtnDetail {
  margin-top: 5rem;
  padding: 13px 30px;
  border-radius: 10px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}
 

 


.loadingDetail{
  display: flex;
  justify-content: center;
  color: rgb(239, 239, 242);
  font-size: 5rem;
}