
.form {
    width: 35rem;
    height: 22rem;
    margin: 3rem;
    display: flex;
    align-items: baseline;
    border-radius: 15px;
    background: white;
    color: black;
    /* box-shadow: 2px 0 20px 10px rgba(85, 145, 197, 0.5); */
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(85, 145, 197),
    rgb(133, 159, 236));
    width: 80%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}

.contenido {
    padding: 1rem;
    text-align: center;
    color:white;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.botones > button {
    border: none;
    background: linear-gradient(90deg ,rgb(85, 145, 197),
    rgb(133, 159, 236));
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    color: white;
}
.botones > button:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.parrafo {
    margin-top: 3rem;
}

textarea {
    resize: none;

}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}
.label-input > input, .label-input > textarea {
    border: none;
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgb(85, 145, 197);
    
}
.label-input > input::-webkit-input-placeholder{
    color: rgb(85, 145, 197);
}

.label-input > select {
    border: none;
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgb(85, 145, 197);

}

.materias {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 5px;
}

.materias > button {
    border: none;
    background: linear-gradient(90deg ,rgb(133, 159, 236),
    rgb(85, 145, 197));
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: white;
}