.notificacionesPag{
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
    background-color: rgb(245, 249, 253);    
}

.todaNotificacionesCont{
    margin-left: 6rem;
    border-radius: 8px;
    padding: 15px;
    width: 48%;
    margin-top: 2%;
    background-color: white;
    border: 0.5px solid rgb(119, 118, 118, 0.4);
}

.mediaREf{
    height: 65px;
    
}
.notiEsp{
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    cursor: pointer;
    height: 140px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: background-color 0.2s ease-out 100ms
    
}
.notiEsp:hover{
    background-color: rgb(206, 206, 206,0.2);
}

.notiPic{
    
    height: 90px;    
    width: 90px;
    object-fit: cover;
    border-radius:50% ;
    border: 5px solid rgb(230, 239, 240);

}

.autNoti{
    font-weight: bold;
    margin-right: 6px;
    margin-left: 6px ;
    text-transform: capitalize;

}

.notiSinVer{
    background-color: rgba(127, 146, 255, 0.2);
}

.imgNotifiCont{
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
   justify-content: center;
}

.NotNotis{
    width: 100%;
    height: 80vh;
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

}