.contenedor_mensaje {
  width: auto;
  height: auto;
  max-width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
#you {
  justify-content: flex-start;
}
#you .contenedor_mensaje {
  background: rgb(247, 243, 243);
  justify-content: flex-start;
  color: rgb(54, 49, 49);
  font-family: cursive;
}
#you .message-meta {
  justify-content: flex-start;
  margin-left: 7rem;
}
.message-content p {
  font-family: cursive;
  font-size: 1.2rem;
}
.message {
  height: auto;
  display: flex;
}

#other {
  justify-content: flex-end;
}
#other .contenedor_mensaje {
  justify-content: flex-end;
  background: rgb(176, 156, 176);
  color: rgb(54, 49, 49);
  font-family: cursive;
}
#other .message-meta {
  justify-content: flex-end;
  margin-right: 7rem;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.message-meta {
  display: flex;
  font-size: 12px;
}
.container_titulo {
  background: rgb(167, 166, 166);
  color: rgb(253, 250, 250);
}
.cardBody {
  width: 100%;
  height: 40rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background: lightgray;
}

.card {
  margin-left: 20rem;
}
.chatContainer {
  padding-left: 10rem;
}
.tituloChat {
  color: black;
  font-weight: 600;
}
.containerImg {
  height: 10rem;
  width: 10rem;
  margin-left: 26vw;
}
