.register-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
  }
  
  .register-group .register-item input {
    font-size: 20px;
    padding-left: 10px;
  }
  .register-group .register-item button {
    background: transparent;
    cursor: pointer;
  }
  .register-group .register-item button i {
    font-size: 20px;
  }
  
  #wrapper {
    display: flex;
    width: 750px;
  }
  .col-4 {
    flex: 4;
    margin-top: 5vw;
  }
  .col-8 {
    flex: 8;
    margin: 5vw 2vw;
  }
  #status-aside {
    min-height: 440px;
    margin: 0 15px;
    background: rgba(73, 81, 124, 1);
  
    border-radius: 20px;
    padding: 30px 0;
    box-sizing: border-box;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 0 15px;
    background: rgba(73, 81, 124, 1);
    border-radius: 20px;
    box-sizing: border-box;
  }
  .user-info {
    /* width: 100%; */
    height: 50px;
    background: rgba(73, 81, 124, 1);
    border-radius: 20px;
    margin: 0 15px 10px;
    padding: 0 10px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .list-user-item {
    padding: 10px 20px;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
  }
  .list-user-item:hover {
    background: rgba(59, 84, 96, 1);
  }
  .item-active {
    background: rgba(59, 84, 96, 1);
  }
  .list-user-item .user-name {
    font-size: 20px;
  }
  .list-user-item .user-status {
    font-size: 14px;
  }
  .text-green {
    color: rgb(70, 184, 70);
  }
  .text-red {
    color: rgb(184, 69, 69);
  }
  
  #content {
    flex: 1;
    padding: 25px 15px;
  }
  #content li {
    list-style: none;
  }
  
  #content .message {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
  }
  .item-left {
    background: rgb(130, 204, 221);
  }
  .item-right {
    float: right;
    background: rgb(120, 224, 143);
  }
  
  #chat-input {
    height: 70px;
    display: flex;
    border-radius: 10px;
    background: rgb(55, 66, 93);
    margin: 15px 20px;
  }
  #chat-input .input-item {
    flex: 85;
    height: 100%;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px;
  }
  #chat-input .input-item input {
    display: block;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #chat-input .input-item input::placeholder {
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #chat-input .input-item textarea {
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  #chat-input .input-item textarea::placeholder {
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #chat-input .button {
    flex: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: transparent;
    cursor: pointer;
  }
  
  #chat-input .button i {
    color: #fff;
    font-size: 24px;
  }
  
  .containerMensajes {
    margin-top: 3vw;
  
    width: 100%;
    height: 25vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background: lightgray;
  }
  