.register-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 30px;
}

.register-group .register-item input {
  font-size: 20px;
  padding-left: 10px;
}
.register-group .register-item button {
  background: transparent;
  cursor: pointer;
}
.register-group .register-item button i {
  font-size: 20px;
}

#wrapper {
  display: flex;
  width: 700px;
}
.col-4 {
  flex: 4;
  margin-top: 5vw;
}
.col-8 {
  flex: 8;
  margin: 5vw 2vw;
}
#status-aside {
  min-height: 28vw;
  margin: 0 15px;
  background: rgb(172, 156, 172);
  border-radius: 20px;
  padding: 30px 0;
  box-sizing: border-box;
}

.user-info {
  /* width: 100%; */
  height: 50px;
  background: rgb(139, 122, 139);
  border-radius: 20px;
  margin: 0 15px 10px;
  padding: 0 10px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.list-user-item {
  padding: 10px 20px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}
.list-user-item:hover {
  background: rgb(161, 161, 161);
}
.item-active {
  background: rgb(240, 238, 238);
}
.user-name {
  font-size: 1.2vw;
  color: rgb(48, 46, 46);
  font-family: cursive;
}
.userChatpendin {
  font-size: 1.2vw;
  color: rgb(71, 136, 193);
  font-family: cursive;
}
.user-status {
  font-size: 1vw;
  color: black;
}
.user-status-active {
  font-size: 1vw;
  color: rgb(71, 136, 193);
}

.containerUserChats {
  margin-top: 3vw;
  width: 100%;
  height: 38vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(215, 209, 209);
  border-top: 2px solid rgb(110, 182, 244);
  transition: all ease 2s;
}
.containerUserChats::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5vw;
  border-radius: 0.4rem;
}

.containerMensajes {
  width: 100%;
  height: 18vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(227, 225, 225);
  overflow: auto;
}
.btnSalirChat {
  border: none;
}

.inputChat {
  border: none;
  width: 10rem;
  outline: none;
}

.divUsuariosChat {
  width: 16rem;
  height: 0;
  position: fixed;
  right: 0;
  bottom: 31rem;
}
.message-content {
  width: auto;
  height: auto;
  min-height: 20px;
  max-width: 30rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.message-content p {
  font-family: cursive;
  font-size: 1.1vw;
}
.message {
  height: auto;
  padding: 0.5vw;
  display: flex;
}
#you {
  justify-content: flex-start;
}
#you .message-content {
  background: rgb(247, 243, 243);
  justify-content: flex-start;
  color: rgb(54, 49, 49);
  font-family: cursive;
}
#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}
#other {
  justify-content: flex-end;
}
#other .message-content {
  justify-content: flex-end;
  background: rgb(110, 182, 244);
  color: rgb(54, 49, 49);
  font-family: cursive;
}
#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.message-meta {
  display: flex;
  font-size: 12px;
}
.container_titulo {
  background: rgb(167, 166, 166);
  color: rgb(253, 250, 250);
}
.cardBody {
  width: 100%;
  height: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: lightgray;
}

.divContainer {
  width: 16rem;
  height: 10vw;
  position: fixed;
  right: 25vw;
  bottom: 17.5rem;
}

.numChats {
  color: rgb(199, 197, 221);
  font-weight: bold;
}
.chats0 {
  color: white;
}
.btnMensajes {
  height: 3vw;
  width: 5vw;
}
.alerta {
  color: white;
  margin-left: 0.5rem;
}

.noAlerta {
  display: none;
}
.btnmsg {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 1rem;
  height: 1rem;
  font-weight: bold;
  width: 2rem;
}
