.student{
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px 15px 5px 15px;
    border: none;
    /* box-shadow: 0 0 2px 1px rgba(115, 92, 180, 0.8); */

}

.fondo-form {
    background: repeating-radial-gradient(gray, white);
    height: 100vh;
}

.teacher {
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px 15px 5px 15px;
    border: none;
    /* box-shadow: 0 0 2px 1px rgba(115, 92, 180, 0.8); */

}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 1rem;
    padding: 5px;
}
.chosen {
    background: linear-gradient(90deg ,rgb(85, 145, 197),
    rgb(133, 159, 236));
    transition: .2s all ease-in-out;
    transform: scale(1.1);
    border-radius: 10px;
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
    /* box-shadow: 0 0 2px 1px rgba(115, 92, 180, 0.8); */

}
