.divPrincipalProf {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  background-image: url("./img/fondito2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.aunNoCertBanner {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 50vh;
}
.ContMyPerfilFavoritesProf {
  display: grid;
  grid-template-columns: 5% 60% 35%;
  padding-top: 3%;
}
.SEcondcontProper {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 32% 68%;
}
.myperfilContProf {
  background-color: rgb(223, 233, 241);
  width: 90%;
  height: 60vh;
  margin-left: 5%;
  margin-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: 32% 68%;
  border-radius: 5px;
}
.myMAteriasProfper {
  margin-top: 10%;
  margin-left: 25%;
  background-color: rgb(223, 233, 241);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 70%;
  height: 52vh;
  border-radius: 5px;
}
.MisCertificadosPRofePEr {
  background-color: rgb(223, 233, 241);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  height: 65vh;
  margin-left: 10%;
  border-radius: 5px;
}

.myFavContProf {
  background-color: rgb(223, 233, 241);
  width: 80%;
  height: 40vh;
  margin-left: 5%;
  margin-top: 6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  color: rgb(59, 59, 59);
  padding-left: 5%;
}
.justPorqueDEbEleg {
  width: 90%;
  height: 40vh;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}
.pendientesContperfAlumProf {
  background-color: rgb(223, 233, 241);
  width: 90%;
  height: 34vh;
  margin-left: 5%;
  margin-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border-radius: 5px;
}
.desc2profPEr {
  overflow-y: scroll;
  height: 30vh;
}
.usernameProfePEr {
  margin-top: 3%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: rgb(97, 97, 97);
}

.FotoPerfilAContProf {
  border-radius: 5px 0px 5px 0px;
}

.btnEditprofOTher:hover {
  all: unset;
  color: black;
}

.AvatarNameAluPerProf {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-left: 12%;
  margin-top: 5%;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  color: #2d5c83;
  padding-top: 1.2rem;
}

.ProfilePictureAlumProf {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-left: 12%;
  margin-top: 5%;
  border: 3px solid white;
}

/* .contareglarPsiases {
} */

.titleMyPRofileProf {
  display: grid;
  grid-template-columns: 90% 10%;
}

.titleMyPRofileProf span {
  margin-left: 2rem;
  font-size: 34px;
  font-weight: bold;
}

.btnEditProAluProf {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  margin-left: 5%;
}

.flagalumPro {
  width: 2rem;
  margin-right: 5px;
}
.miniContinfoPErfAluProf {
  margin-top: 2%;
  width: 94%;
  margin-left: 6%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content max-content;
}

.nameInfoPErAluProf {
  color: rgb(151, 140, 140);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.lainfoPErAluProf {
  background-color: rgb(151, 140, 140, 0.2);
  width: 80%;
  padding-left: 4%;
  height: 2rem;
  color: rgb(43, 43, 43);
  padding-top: 0.3rem;
}

.eachInfoIputPErProfeProf {
  margin-bottom: 1.6rem;
}

.plusnipaProf {
  padding-left: 6%;
}
.plusnipa2Prof {
  /* margin-left: 6%; */
  background-color: rgb(151, 140, 140, 0.2);
  width: 84%;
  padding-left: 4%;
  /* height: 2rem; */
  color: rgb(43, 43, 43);
  padding-top: 0.3rem;
}

.myFavHeaderPerFalProf {
  height: 4rem;
  font-weight: bold;
  font-size: 24px;
  color: rgb(129, 126, 126, 0.8);
  text-align: center;
  padding-top: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.myFavHeaderPerFalProf span {
  margin-right: 3%;
}

.myPEndHeaderPerFalProf {
  height: 3rem;
  font-weight: bold;
  font-size: 24px;
  color: rgb(129, 126, 126, 0.8);
  text-align: center;
  padding-top: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.mispenSpanProf {
  margin-right: 3%;
}

.materiasContProfPEr {
  margin-top: 10%;
  margin-left: 10%;
}

.certiProPER {
  height: 40vh;
}

.button-62 {
  margin-left: 7%;
  margin-top: 4%;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.fotoCertificadoDecoplus {
  width: 10rem;
  height: 7rem;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.fotoContProPro {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: max-content max-content max-content max-content;
  margin-left: 5%;
  margin-top: 3%;
}

.centeraddbtn {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  margin-top: 1rem;
}

.centeraddbtn:hover {
  color: rgb(97, 95, 95);
}

.btnsCertisProfePErf {
  width: 100%;
  height: 100%;
  color: transparent;
  display: grid;
  grid-template-columns: 50% 50%;
}

.btnsCertisProfePErf:hover {
  background-color: rgb(41, 40, 40, 0.4);
  color: white;
}
.btnEditEliCErti {
  padding-top: 25%;
  font-size: 30px;
}
.btnEditEliCErti:hover {
  background-color: rgb(41, 40, 40, 0.4);
  border: 0.2px solid rgb(177, 177, 177);
  backdrop-filter: blur(1px);
}

.alertPosition {
  margin-left: 0.5rem;
  width: 20rem;
  height: 2rem;
  color: white;
  background-color: rgb(15, 107, 228);
  display: block;
  position: absolute;
  bottom: 0px;
}
.notShowAlert {
  display: none;
}



/* DARK MODE */

.mi_perfil_profe_dark {
  background-color: #242529;
  color: aliceblue;
    /* #1A202C  #171923* #242529  101011 */
}

.mi_perfil_profe_dark_words {
  color: aliceblue;
  font-weight: bolder;}