.fab-footer-container{
    background: #5591C5;
  }
  .fab-footer{
    display: flex;
      justify-content: space-around;
  }
  #fab-col{
    /*background-color: red;*/
    width: 5px;
  }
  .fab-h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fab-img-footer{
  height: 100px;
    width:100px;
  }
  
  .dark_footer_theme {
    background-color: #242529;
    color: aliceblue;
  }

  /* #1A202C  #171923* #242529  101011 */