.iconFiltro {
  color: red;
}
.filtroBtn {
  all: unset;
  color: rgb(122, 122, 122);
  margin-left: 30px;
  font-size: 36px;
  /* transition: color 2s; */
}

.filtroBtn:hover {
  color: rgb(101, 101, 141);
}

.filtroBtn:active {
  font-size: 40px;
}
.btnListOpSelected {
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  background-color: transparent;
}

.homeCardContainer {
  display: flex;
  background: rgb(110, 182, 244);
  background: linear-gradient(
    0deg,
    rgba(110, 182, 244, 1) 0%,
    rgba(85, 145, 197, 1) 89%,
    rgba(85, 145, 197, 1) 100%
  );
  margin: 1rem 0;
}

hr {
  width: 90%;
}

.foot {
  /* border-top: 0.5px solid rgb(75, 74, 74, 0.1); */
  /* padding-top: 25px; */
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
  /* height: 80px; */
  /* color: rgb(109, 107, 107); */
  text-align: center;
}

.aFootAbout {
  cursor: pointer;
}

.aFootAbout:hover {
  color: rgb(41, 40, 40);
}

/* -------------------------------------chat-------------- */
.btnMensajes {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
  transition: all ease 1s;
}

/* DARK HOME  */

.dark_home {
  background-color: #101011;
}

/* #1A202C  #171923* #242529 #101011 */
.dark_filtros {
  color: aliceblue !important;
  background-color: #242529;
  border: none;
}

.button_quit_materia {
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  /* background-color: #1A202C; */
}


.dark_loader_eye {
  background-color: #101011;
}
/* #1A202C  #171923* #242529  101011 */

