.list-user-item {
  padding: 10px 20px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}
.list-user-item:hover {
  background: rgb(161, 161, 161);
}
.item-active {
  background: rgb(240, 238, 238);
}
.list-user-item .user-name {
  font-size: 1.2vw;
  color: rgb(48, 46, 46);
  font-family: cursive;
}
.list-user-item .user-status {
  font-size: 1vw;
  color: black;
}

.containerUserChats {
  margin-top: 3vw;
  width: 100%;
  height: 38vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(185, 182, 182);
}
.containerUserChats::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5vw;
  border-radius: 0.4rem;
}

.containerMensajes {
  width: 100%;
  height: 18vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(227, 225, 225);
  overflow: auto;
}
.btnSalirChat {
  border: none;
}

.inputChat {
  border: none;
  width: 15vw;
  outline: none;
}

.divUsuariosChat {
  width: 15vw;
  height: 0vw;
  position: fixed;
  right: 0;
  bottom: 41vw;
}
.message-content {
  width: auto;
  height: auto;
  min-height: 20px;
  max-width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.message-content p {
  font-family: cursive;
  font-size: 1.1vw;
}
.message {
  height: auto;
  padding: 0.5vw;
  display: flex;
}
#you {
  justify-content: flex-start;
}
#you .message-content {
  background: rgb(247, 243, 243);
  justify-content: flex-start;
  color: rgb(54, 49, 49);
  font-family: cursive;
}
#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}
#other {
  justify-content: flex-end;
}
#other .message-content {
  justify-content: flex-end;
  background: rgb(110, 182, 244);
  color: rgb(54, 49, 49);
  font-family: cursive;
}
#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.message-meta {
  display: flex;
  font-size: 12px;
}
.container_titulo {
  background: rgb(167, 166, 166);
  color: rgb(253, 250, 250);
}
.cardBody {
  width: 100%;
  height: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background: lightgray;
}


.divContainer {
  width: 40vw;
  height: 25vw;
  position: fixed;
  right: 25vw;
  bottom: 6vw;
}
