.caja{
    
    background-color: #cedaf2;
    width:300px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
    position: relative;

}
.caja:hover{
box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
cursor:pointer;
}
.icono{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
.materiatext{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 25px;
}

.contenedorDecajas{
position: relative;
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 10px;
/*background-color: #2196F3;*/
padding: 10px;
top:180px
}
