.btnSEndComment{
    all:unset;
    cursor: pointer;
    font-size: 30px;
}
.btnSEndComment:hover{
    font-size: 32px;
}

.textInputComent{
    all:unset;
    margin-left: 10%;
    width: 80%;
    height: 5rem;
    font-size: 18px;
    
}

.starPunctuation{
    all: unset;
    color: rgb(228, 226, 218);
    cursor: pointer;
}

.fullStarPu{
    color: rgb(230, 203, 52);
}

.starsCont{
    margin-top: 4vh;
    margin-left: 30%;
    height: 10vh;
}