#registroCompletado {
  align-items: center;
  background: #2e1a06;
  border-radius: 2vw;
  box-shadow: 0 0 10px 2px rgb(234, 124, 14);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 5vw 0 0 32vw;
  padding: 2vw 1vw 2vw 1vw;
  text-align: center;
  width: 30vw;
}

.iconoRegistroCompletado {
  background-image: url(./checkmark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 4.1vw;
  margin-bottom: 1vw;
  width: 4.1vw;
}

.textoRegistroCompletado {
  max-width: 20vw;
}

.btnVerRazas {
  background: #2e1a06;
  border-color: white;
  border-radius: 1vw;
  color: white;
  font-size: 1.5vw;
  height: 4vw;
  transition: all ease 0.5s;
  width: 10vw;
}
.btnVerRazas:hover {
  color: white;
  cursor: pointer;
  border-color: white;
  box-shadow: 0 0 10px 2px white;
  font-size: 1.4vw;
}

.abierto {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  color: white;
  width: 100%;
  display: block;
}
.cerrado {
  /* width: 0%; */
  display: none;
}
