
.footer-contenedor{

  background: #5591C5;
  color: white;
  
}
.footer{
   
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
  }
  
.copy{
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}
