.main-footer {
  color: rgb(85, 145, 197);
  display: flex;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.footer-container{
background:rgb(85, 145, 197);

  /*
  background: linear-gradient(rgb(85, 145, 197),rgb(85, 145, 197),rgb(133, 159, 236));*/
}
.footer{

  display: flex;
justify-content: space-around;
}
.footer h4{
  color: white;
}
.abajo{
  
  justify-content: center;
}
.col li{
  color: white;
}