
.logo img{
    width: 90px;
}
#features{
    width:100%;
    height:100vh;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: #ffffff;
}
.a-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.a-box{
    background-color: #ffffff;
    width:300px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
    position: relative;
}
.a-b-img{
    width: 100%;
    height: 60%;

}
.a-b-img img{
    padding: 15px;
    width:100%;
    height: 100%;

}
.a-box:hover{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}


.s-b-text{
    width: 100%;
    height: 40%;
    background-color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.s-b-text p{
    margin: 0px;
    color:#000266a6;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    margin-top: 25px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.s-b-text a{
    margin-top:15px ;
}

.features {
    justify-content: center;
}

.contenedor-atrjetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}


