.divPrincipal {
  height: 100vh;
  background-image: url("./img/fondi.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tabla-reservas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 4rem;
}

.ContMyPerfilFavorites{
  display: grid;
  grid-template-columns: 5%  53% 42%;
}

.myperfilCont{
  background-color: rgb(223, 233, 241);
  width: 90% ;
  height: 50vh;
  margin-left: 5%;
  margin-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: 32% 68%;
  border-radius: 5px;
}

.myFavCont{
  position: relative;
  background-color: rgb(223, 233, 241);
  width: 80% ;
  height: 88vh;
  margin-left: 5%;
  margin-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.pendientesContperfAlum{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(223, 233, 241);
  width: 90% ;
  height: 34vh;
  margin-left: 5%;
  margin-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
  border-radius: 5px;
}
/* 
.InFoAlumnoPErfCont{

} */

.FotoPerfilACont{

border-radius: 5px 0px 5px 0px;


}

.AvatarNameAluPer{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-left: 12%;
  margin-top: 5%;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  color: #2d5c83;
  padding-top: 1.2rem;
}

.ProfilePictureAlum{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-left: 12%;
  margin-top: 5%;
  border: 3px solid white;
}


.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 9rem;
  will-change: transform,opacity;
  z-index: 0;
  margin-top: 5%;
  margin-left: 17%;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #42f4b9;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.titleMyPRofile{
  
  display: grid;
  grid-template-columns: 90% 10%;

}

.titleMyPRofile span{
  margin-left: 2rem;
  font-size: 34px;
  font-weight: bold;
}

.btnEditProAlu{
  all: unset;
  cursor: pointer;
  font-size: 24px;
}
/* .contInfoPErfAlum{

} */
.flagalumPro{
  width: 2rem;
  margin-right: 5px;
}
.miniContinfoPErfAlu{
  margin-top: 2%;
  width: 94%;
  margin-left: 6%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content max-content;
}

.nameInfoPErAlu{
  color: rgb(151, 140, 140);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lainfoPErAlu{
  background-color: rgb(151, 140, 140,0.2);
  width: 80%;
  padding-left: 4%;
  height: 2rem;
  color: rgb(43, 43, 43);
  padding-top: 0.3rem;
}

.eachInfoIputPErProfe{
  margin-bottom: 1.6rem;
}

.plusnipa{
  padding-left: 6%;
}
.plusnipa2{
  margin-left: 6%;
  background-color: rgb(151, 140, 140,0.2);
  width:84%;
  padding-left: 4%;
  height: 2rem;
  color: rgb(43, 43, 43);
  padding-top: 0.3rem;
}

.myFavHeaderPerFal{
 
  height: 4rem;
  font-weight: bold;
  font-size: 24px;
  color: rgb(129, 126, 126,0.8);
  text-align: center;
  padding-top: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  
}

.myFavHeaderPerFal span{
  margin-right: 3% ;
}

.myPEndHeaderPerFal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: .3rem;
  width: 80%;
  height: 3rem;
  font-weight: bold;
  font-size: 24px;
  color: rgb(129, 126, 126,0.8);
  text-align: center;
  padding-top: 1.2rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
}

.link-hacia-el-profe {
  color: black;
}

.mispenSpan{
  margin-right: 3%;
}

.aunnofavCont{
  font-size: 16px;
  color: rgb(134, 133, 133);
  font-weight: bold;
  margin-top: 40%;
  display: flex;
  text-align: center;
  vertical-align:middle;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.centerProfCardsFavAL{
  margin-left: 15%;
}





/* 






*/


.email-student-loader {
  width: 92% !important;
  margin-left: 1rem;
}

.dark_mi_perfil_alumno {
  background-color: #242529;
}

.info_student_dark{
  color: aliceblue;
  font-weight: bolder;
}

/* #1A202C  #171923* #242529 */