@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-x:hidden;  
  width: 100%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: 'Josefin Sans', cursive; */
  font-family: 'Ropa Sans';
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input:focus,
select:focus,
select,
input.form-control:focus {
  box-shadow: none;
}



/* Colores Globales para la app */

/* 
:root {

} */